header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
}

.logo h2 {
  font-size: 22px;
  color: #3b82f6;
}

.logo span {
  color: #193364;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #193364;
  font-weight: 600;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: -100%;
    top: 70px;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    background: #fff;
    align-items: center;
    padding-top: 40px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }
}
